@import '../node_modules/bootstrap/scss/bootstrap-grid.scss';
@import '../node_modules/bootstrap/scss/bootstrap-reboot.scss';

html, body {
    font-size: 1em;
    height: 100%;
}

#__next {
    display: flex;
    flex-flow: column;
    height: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
